body{
    display:block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(210, 206, 221, 0.858);
    background-repeat: no-repeat;
    background-size:cover ;
}
.container
{
    position: relative;
    height:400px;
    left:0px;
   
}
.heder
 {
    height:100px;
    width:100%; 
    background-image: url("logo.png");
    background-size: 300px;
    background-repeat: no-repeat;
    border-bottom:2px solid #060606;
    padding-top: 50px;
    font-size: 50px;
    color:rgb(17, 16, 16);
    text-shadow: aqua;
    
}
.btn{
    position:absolute;
    top:45px;
    right:20px;
}
button{
    color:black;
    font-weight: bold;
    height:40px;
    width:150px;
    background-image: linear-gradient(rgb(67, 82, 7),rgb(231, 91, 91));
    border-radius: 10px;
}
#data
{
    width:99%;
    height:450px;
    text-align: right;
    justify-content: center;
    display: flex;   
    
}
.table
{
    width:800px;

}
table{
    color:rgba(222, 220, 224, 0.829);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font: 700;
    
}
table tr :hover{
    background-color:rgb(88, 6, 32);

}
img{
    clip-path: circle();
}
.welcome{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(19, 20, 18);
    padding-top: 70px;
}
